<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>

<body>
    <%-include('header.ejs')%>
        <%-include('nav.ejs')%>
            <section>
                <form action="/alumnos" method="post">
                    <input type="number" id="matricula" name="matricula" placeholder="matricula" required>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre del alumno" required>
                    <input type="text" id="domicilio" name="domicilio" placeholder="Adress" required>
                    <input type="text" id="sexo" name="sexo" placeholder="M o F" required>
                    <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad" required>
                    <div style="float: right; margin: 1rem 5.5rem 0 0;">
                        <button type="submit">Enviar informacion</button>

                    </div>

                </form>
                <div class="container">
                    <table class=" table table-hover">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Especialidad</th>

                        </tr>
                        <% for(var i=0; i< reg.length; i++){ %>
                            <tr>
                                <td>
                                    <%=reg[i].id%>
                                </td>
                                <td>
                                    <%=reg[i].matricula%>
                                </td>
                                <td>
                                    <%=reg[i].nombre%>
                                </td>
                                <td>
                                    <%=reg[i].domicilio%>
                                </td>
                                <td>
                                    <%=reg[i].sexo%>
                                </td>
                                <td>
                                    <%=reg[i].especialidad%>
                                </td>
                            </tr>
                            <%}%>
                    </table>
                </div>
            </section>

            <%-include('footer.ejs')%>
</body>

</html>