<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Cotizacion</title>
</head>

<body>
    <%-include('header.ejs')%>
        <%-include('nav.ejs')%>

            <section>
                <div id="formulario" class="container d-flex justify-content-between">
                    <form action="/cotizacion" method="post">
                        <label class="form-label" for="">Valor de Automovil</label>
                        <input class="form-control" type="number" name="valor" id="valor" required value=<%=valor%>>
                        <label class="form-label" for="">Porcentaje de pago inicial</label>
                        <input class="form-control" type="number" name="pinicial" id="pinicial" required
                            value=<%=pinicial%>>
                        <label class="form-label" for="">Pazlos</label>
                        <select name="plazos" id="plazos" class="form-control" required>
                            <option value="12">12 meses</option>
                            <option value="24">24 meses</option>
                            <option value="36">36 meses</option>
                            <option value="48">48 meses</option>
                            <option value="60">60 meses</option>
                        </select>
                        <button class="btn btn-primary mt-3" type="submit">Calcular</button>
                        <a class="btn btn-primary mt-3" href="/cotizacion" id="limpiar">Limpiar</a>
                    </form>

                    <% const newValues=valor - ((valor * pinicial)/100); let newValor=(newValues / plazo).toFixed(2); %>
                        <div class="container mt-5">
                            <table class="table table-success table-striped-columns">
                                <thead>
                                    <tr>
                                        <th>Precio</th>
                                        <th>Meses</th>
                                        <th>Cuota mensual</th>
                                        <th>Total a finaciar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="tr">
                                        <td>
                                            <%=valor%>
                                        </td>
                                        <td>
                                            <%=plazo%>
                                        </td>
                                        <td>
                                            <%=newValor%>
                                        </td>
                                        <td>
                                            <%=newValues%>
                                        </td>
                                    </tr>



                                </tbody>

                            </table>
                        </div>




                </div>
            </section>


            <%-include('footer.ejs')%>
</body>

</html>