<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">


            <div class="collapse navbar-collapse">
                <div class="navbar-nav">

                    <a class="nav-link" href="/">Primera Practica</a>
                    <a class="nav-link" href="table">Tabla</a>
                    <a class="nav-link" href="cotizacion">Cotizacion</a>
                    <a class="nav-link" href="alumnos">Alumnos</a>

                </div>
            </div>
        </div>
    </nav>


</body>

</html>