<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
</head>

<body>
    <%-include('header.ejs')%>
        <%-include('nav.ejs')%>
            <form class="text-center mt-5 container" action="/table" method="post">
                <!-- <label for="tabla">Tabla</label>
                <input type="number" id="numero" name="numero" required value="<%=numero%>"> -->
                <div class="mb-3 ">
                    <label for="exampleInputPassword1" class="form-label">Numero</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" name="numero" required
                        value="<%=numero%>">
                </div>
                <button type="submit">Enviar</button>
                <button type="reset">Limpiar</button>
            </form>
            <section>
                <% let res=0; if(numero !=null){ for(con=1;con <=10; ++con){ res=con* numero; %>
                    <h3>
                        <%=numero%> * <%=con%> = <%=res%>
                    </h3>
                    <% } } %>
            </section>
            <%-include('footer.ejs')%>
</body>

</html>